body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u259 {
  position:absolute;
  left:10px;
  top:5px;
  width:348px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u260 {
  position:absolute;
  left:200px;
  top:5px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:46px;
}
#u262 {
  position:absolute;
  left:0px;
  top:25px;
  width:360px;
  height:45px;
  font-size:15px;
}
#u263 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u264 {
  position:absolute;
  left:10px;
  top:35px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
  text-align:left;
}
#u265 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:561px;
}
#u266 {
  position:absolute;
  left:0px;
  top:80px;
  width:360px;
  height:560px;
}
#u267 {
  position:absolute;
  left:2px;
  top:272px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u268 {
  position:absolute;
  left:0px;
  top:70px;
  width:360px;
  height:10px;
}
#u269 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
}
#u270 {
  position:absolute;
  left:20px;
  top:100px;
  width:200px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:21px;
}
#u272 {
  position:absolute;
  left:20px;
  top:130px;
  width:146px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u273 {
  position:absolute;
  left:0px;
  top:2px;
  width:146px;
  white-space:nowrap;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:129px;
}
#u274 {
  position:absolute;
  left:20px;
  top:160px;
  width:320px;
  height:128px;
  color:#666666;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:129px;
}
#u276 {
  position:absolute;
  left:20px;
  top:310px;
  width:320px;
  height:128px;
  color:#666666;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
