body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:70px;
  width:361px;
  height:521px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:521px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:521px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:521px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:101px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:100px;
  font-size:16px;
  color:#1ABC9C;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u4 {
  position:absolute;
  left:0px;
  top:440px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u5 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u6 {
  position:absolute;
  left:100px;
  top:25px;
  width:100px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u8 {
  position:absolute;
  left:20px;
  top:15px;
  width:70px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u9 {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u10 {
  position:absolute;
  left:0px;
  top:340px;
  width:360px;
  height:10px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u12 {
  position:absolute;
  left:100px;
  top:55px;
  width:60px;
  height:20px;
  font-size:12px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u14 {
  position:absolute;
  left:290px;
  top:450px;
  width:60px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u15 {
  position:absolute;
  left:0px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u16 {
  position:absolute;
  left:0px;
  top:100px;
  width:360px;
  height:10px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u18 {
  position:absolute;
  left:0px;
  top:160px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u20 {
  position:absolute;
  left:288px;
  top:160px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u22 {
  position:absolute;
  left:216px;
  top:160px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u24 {
  position:absolute;
  left:72px;
  top:160px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u26 {
  position:absolute;
  left:144px;
  top:160px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u28 {
  position:absolute;
  left:110px;
  top:165px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#FF3300;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u30 {
  position:absolute;
  left:0px;
  top:480px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u31 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u32 {
  position:absolute;
  left:270px;
  top:490px;
  width:80px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u33 {
  position:absolute;
  left:0px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u34 {
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u35 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u36 {
  position:absolute;
  left:290px;
  top:410px;
  width:60px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u37 {
  position:absolute;
  left:0px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u38 {
  position:absolute;
  left:0px;
  top:530px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u39 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u40 {
  position:absolute;
  left:0px;
  top:520px;
  width:360px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u42 {
  position:absolute;
  left:270px;
  top:540px;
  width:80px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u43 {
  position:absolute;
  left:0px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u44 {
  position:absolute;
  left:0px;
  top:570px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u45 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u46 {
  position:absolute;
  left:270px;
  top:580px;
  width:80px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u47 {
  position:absolute;
  left:0px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u48 {
  position:absolute;
  left:0px;
  top:610px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u49 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u50 {
  position:absolute;
  left:270px;
  top:620px;
  width:80px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u51 {
  position:absolute;
  left:0px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u52 {
  position:absolute;
  left:0px;
  top:660px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u53 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u54 {
  position:absolute;
  left:0px;
  top:650px;
  width:360px;
  height:10px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u56 {
  position:absolute;
  left:270px;
  top:670px;
  width:80px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u57 {
  position:absolute;
  left:0px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u58 {
  position:absolute;
  left:0px;
  top:700px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u59 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u60 {
  position:absolute;
  left:270px;
  top:710px;
  width:80px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u61 {
  position:absolute;
  left:0px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u62 {
  position:absolute;
  left:0px;
  top:740px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u63 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u64 {
  position:absolute;
  left:270px;
  top:750px;
  width:80px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u65 {
  position:absolute;
  left:0px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
}
#u66 {
  position:absolute;
  left:0px;
  top:780px;
  width:360px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u67 {
  position:absolute;
  left:20px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u68 {
  position:absolute;
  left:270px;
  top:790px;
  width:80px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u69 {
  position:absolute;
  left:0px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u70 {
  position:absolute;
  left:0px;
  top:820px;
  width:360px;
  height:10px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:51px;
}
#u72 {
  position:absolute;
  left:0px;
  top:110px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u73 {
  position:absolute;
  left:10px;
  top:17px;
  width:348px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u74 {
  position:absolute;
  left:280px;
  top:125px;
  width:60px;
  height:20px;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u75 {
  position:absolute;
  left:0px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u76 {
  position:absolute;
  left:10px;
  top:155px;
  width:340px;
  height:1px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u78 {
  position:absolute;
  left:0px;
  top:280px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u79 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u80 {
  position:absolute;
  left:288px;
  top:280px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u81 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u82 {
  position:absolute;
  left:216px;
  top:280px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u83 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u84 {
  position:absolute;
  left:72px;
  top:280px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u85 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:61px;
}
#u86 {
  position:absolute;
  left:144px;
  top:280px;
  width:72px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u87 {
  position:absolute;
  left:0px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u88 {
  position:absolute;
  left:110px;
  top:285px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#FF3300;
}
#u89 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:51px;
}
#u90 {
  position:absolute;
  left:0px;
  top:230px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u91 {
  position:absolute;
  left:10px;
  top:17px;
  width:348px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u92 {
  position:absolute;
  left:280px;
  top:245px;
  width:60px;
  height:20px;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u93 {
  position:absolute;
  left:0px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u94 {
  position:absolute;
  left:10px;
  top:275px;
  width:340px;
  height:1px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u96 {
  position:absolute;
  left:0px;
  top:220px;
  width:360px;
  height:10px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:51px;
}
#u98 {
  position:absolute;
  left:0px;
  top:350px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u99 {
  position:absolute;
  left:10px;
  top:17px;
  width:348px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u100 {
  position:absolute;
  left:10px;
  top:395px;
  width:340px;
  height:1px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:46px;
}
#u102 {
  position:absolute;
  left:0px;
  top:25px;
  width:360px;
  height:45px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:26px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u105 {
  position:absolute;
  left:10px;
  top:5px;
  width:348px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u106 {
  position:absolute;
  left:200px;
  top:5px;
  width:150px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u109 {
  position:absolute;
  left:320px;
  top:35px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:0px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u111 {
  position:absolute;
  left:330px;
  top:35px;
  width:15px;
  height:15px;
  font-size:9px;
  color:#F96160;
}
#u112 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u113 {
  position:absolute;
  left:10px;
  top:35px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u115 {
  position:absolute;
  left:0px;
  top:590px;
  width:72px;
  height:50px;
  color:#F96160;
  line-height:20px;
}
#u116 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u117 {
  position:absolute;
  left:72px;
  top:590px;
  width:72px;
  height:50px;
  color:#999999;
  line-height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u119 {
  position:absolute;
  left:144px;
  top:590px;
  width:72px;
  height:50px;
  color:#999999;
  line-height:20px;
}
#u120 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u121 {
  position:absolute;
  left:216px;
  top:590px;
  width:72px;
  height:50px;
  color:#999999;
  line-height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u123 {
  position:absolute;
  left:288px;
  top:590px;
  width:72px;
  height:50px;
  color:#999999;
  line-height:20px;
}
#u124 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u125 {
  position:absolute;
  left:70px;
  top:5px;
  width:15px;
  height:15px;
  font-size:6px;
  color:#7E4EC7;
}
#u126 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u127_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u127_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:591px;
}
#u128 {
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:590px;
  line-height:24px;
}
#u129 {
  position:absolute;
  left:2px;
  top:287px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:81px;
}
#u131 {
  position:absolute;
  left:5px;
  top:130px;
  width:350px;
  height:80px;
}
#u132 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u133 {
  position:absolute;
  left:20px;
  top:140px;
  width:20px;
  height:20px;
  font-size:8px;
  color:#7E4EC7;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u135 {
  position:absolute;
  left:45px;
  top:140px;
  width:56px;
  height:20px;
  font-size:12px;
}
#u136 {
  position:absolute;
  left:0px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
}
#u137 {
  position:absolute;
  left:20px;
  top:165px;
  width:152px;
  height:20px;
  font-size:12px;
  color:#000000;
}
#u138 {
  position:absolute;
  left:0px;
  top:2px;
  width:152px;
  white-space:nowrap;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
}
#u139 {
  position:absolute;
  left:20px;
  top:185px;
  width:152px;
  height:20px;
  font-size:12px;
}
#u140 {
  position:absolute;
  left:0px;
  top:2px;
  width:152px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u141 {
  position:absolute;
  left:125px;
  top:140px;
  width:49px;
  height:20px;
  font-size:12px;
}
#u142 {
  position:absolute;
  left:0px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u143_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:15px;
  height:15px;
}
#u143 {
  position:absolute;
  left:110px;
  top:145px;
  width:10px;
  height:10px;
}
#u144 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:51px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u146 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u147 {
  position:absolute;
  left:10px;
  top:10px;
  width:74px;
  height:30px;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u149 {
  position:absolute;
  left:240px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u150 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u151 {
  position:absolute;
  left:280px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u152 {
  position:absolute;
  left:0px;
  top:2px;
  width:30px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u153 {
  position:absolute;
  left:320px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u154 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:81px;
}
#u155 {
  position:absolute;
  left:0px;
  top:50px;
  width:72px;
  height:80px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
#u156 {
  position:absolute;
  left:0px;
  top:16px;
  width:72px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:81px;
}
#u157 {
  position:absolute;
  left:72px;
  top:50px;
  width:72px;
  height:80px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
#u158 {
  position:absolute;
  left:0px;
  top:16px;
  width:72px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:81px;
}
#u159 {
  position:absolute;
  left:144px;
  top:50px;
  width:72px;
  height:80px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
#u160 {
  position:absolute;
  left:0px;
  top:16px;
  width:72px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:81px;
}
#u161 {
  position:absolute;
  left:216px;
  top:50px;
  width:72px;
  height:80px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
#u162 {
  position:absolute;
  left:0px;
  top:16px;
  width:72px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:81px;
}
#u163 {
  position:absolute;
  left:288px;
  top:50px;
  width:72px;
  height:80px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
#u164 {
  position:absolute;
  left:0px;
  top:16px;
  width:72px;
  word-wrap:break-word;
}
